# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.py[cod]
*.pyo

# Environment variables / API keys
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

data/
recordings/
*.mp4
*.avi
*.mov